@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use "sass:color";

@include mx.tablet{
    .contenedor_anuncios{
        @include mx.grid(3, 2rem)
    }
}

.anuncio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: color.adjust(v.$gris, $lightness: 5%);
    border: 1px solid v.$gris;
    margin-bottom: 3rem;
    .contenido_anuncio{
        padding: 2rem;
    }

    h3, p{
        margin: 0;
    }
}

.precio{
    color: v.$verde;
    font-weight: v.$bold;
    font-size: 3rem;
}

.iconos_caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;
        align-items: center;

        img{
            flex: 0 0 2rem;
            margin-right: .5rem;
            max-width: 4rem;
            max-height: 4rem;
        }

        p{
            font-weight: v.$black;
            padding-right: 1rem;
        }
    }
}